.main {
  font-family: "Poppins", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 95%;
  padding: 1% 2%;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 18%;
}
.logo :link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.logo img {
  width: 30%;
}
.logo h6 {
  font-size: 1.4vw;
  font-weight: 500;
  color: white;
}

.left_nav {
  width: 82%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.left_nav ul {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_nav ul li a {
  color: white;
  text-transform: capitalize;
}
.btn {
  width: 15%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.btn button {
  padding: 6% 15%;
  font-size: 1.1vw;
  background-color: #24cfa6;
  border: none;
  outline: none;
  border-radius: 4px;
}

.btn button a {
  color: black;
}

.icon {
  color: white;
}


.webMenu{
  display: none;
}



@media (max-width:1024px){

  .logo{
    width: 30%;
  }
  .logo img{
    width: 35%;
  }
  .logo h6{
    font-size: 2vw;
    width: 65%;
  }
  .left_nav {
    width: 70%;
    gap: 5%;
  }
  .left_nav ul{
    width: 50%;
  }
  .left_nav .btn button{
    font-size: 1.6vw;
  }
}

@media (max-width:768px) {
  .left_nav ul{
    width: 60%;
  }
}


@media(max-width:480px){
  /* .mobileMenu {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: all 0.3s ease-in-out;
    border: 2px solid red;
} */
   
  .phonemenu{
    display: inline-block;
    cursor: pointer;
  }
  .main {
    margin-top: 2%;
  }
  .web-menu{
    display: none;
  }

  .logo{
    width: 70%;
    /* border: 2px solid red; */
  }
  .logo h6{
    font-size:3.8vw;
  }
  /* .left_nav{
    width: 50%;
  } */
  .btn {
    width: 50%;
  }
  .btn button a{
    font-size: 3vw;
    font-weight: 500;
  }

  .phonemenu button{
    text-align: right;
    float: right;
  }
  


  
  .left_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    /* text-align: left; */
    gap: 1.5vw;
    position: absolute;
    top: 11%;
    left: 0;
    width: 100%;
    /* background-color: white; */
    /* overflow: hidden; */
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0px 0px 5px 1px #24cfa6;
    /* margin: auto; */
    display: none;
  }
  .left_nav ul li{
    padding-left: 6%;
  }

  .left_nav ul li a:hover{
    color: #24cfa6;
    text-decoration: underline;
  }
  .left_nav ul li a {
    color: white;
  }
  
}