.main {
    /* border: 2px solid red; */
    font-family: poppins;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    color: white;
    gap: 30px;
}

.name{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    /* border: 2px solid red; */
}
.name img{
    width: 6vw;
    height: auto;
}
.name h1{
    font-size: 1.6vw;
    font-weight: 400;
    text-transform: capitalize;
}

.main button{
    padding: 1% 2%;
    font-size: 1.2vw;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #24CFA6;
    /* text-transform: capitalize; */
}
.main button a{
    color: black;
}
.main p{
    font-size: 1vw;
    color: whitesmoke;
}


.social{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -1%;
    /* border: 2px solid red; */
}
.social img{
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
}


@media (max-width:1024px) {

    .name{
        width: 40%;
    }
    .name img{
        width: 35%;
        height: auto;
    }
    .name h1{
        font-size: 2.5vw;
    }
    .btn{
        width: 30%;
        padding: 2% 4%;
        font-weight: 500;
    }
    .btn a{
        font-size: 2vw;
    }
    .main p{
        font-size: 1.6vw;
    }
    .social{
        width: 30%;
    }
    .social img{
        width: 90%;
    }
}

@media (max-width:768px) {

    .name{
        width: 40%;
    }
    .name img{
        width: 35%;
        height: auto;
    }
    .name h1{
        font-size: 2.5vw;
    }
    .btn{
        width: 30%;
        padding: 2% 4%;
        font-weight: 500;
    }
    .btn a{
        font-size: 2vw;
    }
    .main p{
        font-size: 2vw;
    }
    .social{
        width: 30%;
    }
    .social img{
        width: 90%;
    }
}

@media (max-width:480px) {

    .name{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .name img{
        width: 35%;
        height: auto;
    }
    .name h1{
        font-size: 4vw;
    }
    .btn{
        width: 60%;
        font-weight: 500;
        padding: 2% 4%;

    }
    .btn a{
        font-size: 4vw;
    }
    .main p{
        font-size: 4vw;
    }
    .social{
        width: 80%;
    }
    .social img{
        width: 100%;
    }
}