.main {
  font-family: poppins;
  color: white;
  /* border: 2px solid red; */
  font-family: poppins;
}
.cards{
  /* border:2px solid white; */
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.individual{
  /* border: 2px solid greenyellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.individual img{
  height: 120px;
  width: 120px;
}
.individual h2{
  font-size: 1.1vw;
  text-transform: capitalize;
  font-weight: 400;
}

@media (max-width:1024px){
  .cards  {
    width: 80%;
    flex-wrap: wrap;
  }
  .cards h2{
    font-size: 1.6vw;
  }
}

@media (max-width:768px){
  .cards  {
    width: 80%;
    flex-wrap: wrap;
  }
  .cards h2{
    font-size: 1.6vw;
  }
}
@media (max-width:480px){
  .cards  {
    width: 80%;
    flex-wrap: wrap;
  }
  .cards h2{
    font-size: 3.5vw;
  }
}